* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}



body {
    font: normal 16px/1.5 'Libre Franklin', Helvetica, Georgia, sans-serif, serif;
    background-color: aqua;
    height: 100vh;
    background: linear-gradient(#e8e6fd, #fff);
    background: url("https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg");
    background-size: cover;
    background-position: center center;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    color: #666;
    background-color: #5E8CEC;
}

header a {
    color: inherit;
    text-decoration: none;
    font-size: 1.5em;
    vertical-align: middle;
}

header h3 {
    color: rgb(255, 255, 255);
    font-family: poppin;
    font-size: 20px;
    text-align: left;
    line-height: 30px;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1px;
    background-color: #F3F3F3;
    padding: 10px 20px;
    width: 100%;
    height: 450px;
    overflow-y: scroll;
}

.userText {

    background-color: #98abb3;
    color: #222;
    font-size: .85em;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    margin: 1% 0;
    max-width: 70%;
    min-width: 10%;
    float: right;
    word-wrap: break-word;
    clear: both;
    animation: scaler 150ms ease-out;
    font-weight: 500;
}

.userText span:after {
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    width: 0;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #98abb3 transparent;

}

.botText {
    background-color: #444;
    font-size: .85em;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    margin: 1% 0;
    min-width: 10%;
    word-wrap: break-word;
    clear: both;
    animation: scaler 150ms ease-out;
    font-weight: 500;
}

.botText span:after {
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    top: 0;
    width: 0;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: #444 transparent;

}

.botText span {
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    font-weight: 500;


}

#tidbit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
}

#pagewrap {
    max-width: 360px;
    margin: 3vh auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#message {
    width: 100%;
}

#message:before,
#message:after {
    content: "";
    display: block;
    clear: both;
}



.reply {
    padding: 15px 0;
    background-color: #f5f8f9;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    box-shadow: 0 6px 30px rgba(34, 102, 180, 0.23);
}

.reply:before,
.reply:after {
    content: "";
    display: block;
    clear: both;
}

input {
    width: 72%;
    padding: 10px;
    border: none;
    font-size: 1.2em;
    background-color: inherit;
}

input:focus,
button:focus {
    outline: 0;
}

button {
    background-color: #222;
    color: #fff;
    padding: 15px 10px;
    width: 20%;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    letter-spacing: 1.2px;
}

.scroll {
    position: absolute;
    bottom: 0;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

@keyframes scaler {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

#pagewrap {
    max-width: 360px;
    margin: 3vh auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}